extends ./layout.pug

block content
    section.hero.is-medium.has-background-black.has-text-centered
        .hero-body 
            .container
                h1.title.is-1.has-text-white Welcome Back!
                h2.subtitle.is-3.has-text-white The decentralized attendance app awaits
    section.section.has-background-black.is-fullheight
        if error
            .block
                .container
                    .columns.is-centered
                        .column.is-one-third
                            .notification.is-danger.has-text-centered(id="notification") 
                                .button.delete(onclick="hideNotification()")
                                |Invalid password
        .container.is-max-tablet
            form.field.has-addons.has-addons-centered(method="POST", action="/login")
                .control(style="width: 60%")
                    input.input(type="password", name="password", placeholder="Enter your password", required, style="width: 100%")
                .control
                    button.button.is-primary(type="submit", style="width=100%") Unlock
            

            